main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(21, 25, 29);
}

h1 {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 2rem;
    padding: 0.8rem 0 0.8rem 3rem;
    background-color: rgb(9, 51, 31);
    color: rgba(255, 255, 255, 0.462);
    border-bottom: 3px solid rgba(255, 255, 255, 0.318);
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-block: 0.3rem;
    border-radius: 8px;
    color: rgb(255, 255, 255, 0.35);
    background-color: rgb(33, 38, 44);
}

h3 {
    font-size: 1.5rem;
    color: var(--light-green);
}

section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    padding: 1.5rem 2rem 2rem 2rem;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.263);
    box-shadow: 0 0 15px 0 #8283821e;

    div {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .settings {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2rem;
        margin-top: 1rem;
        gap: 2rem;
        border-top: 2px solid rgb(33, 38, 44);
    }

    #speed,
    #time {
        width: 100%;
        background-color: var(--light-green);
    }

    #result {
        font-size: 1.06rem;
        font-weight: 500;
        margin: 1rem auto;
        border: none;
        background-color: rgb(185, 249, 217);
        color: rgb(83, 103, 94);

        &::placeholder {
            color: rgb(118, 152, 136);
        }
    }

    button {
        width: 8rem;
        font-size: 1.1rem;
        font-weight: 400;
        padding: 0.45rem;
        border: none;
        border-radius: 8px;
        color: var(--light-green);
        background-color: rgb(19, 87, 54);

        &:disabled {
            cursor: not-allowed;
        }
    }

    label {
        color: var(--light-green);
        font-size: 1.05rem;
        margin: auto 1.5rem auto 0;
    }
}